<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>Profile</h1>

  <form #profileForm="ngForm" (ngSubmit)="changeProfile()">
    <ion-list inset>
      <ion-item>
        <ion-label>Full Name</ion-label>
        <ion-input type="text" [(ngModel)]="user.fullname" name="fullname" required></ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button block type="submit" [disabled]="!profileForm.valid">Save</button>
    </div>
  </form>

  <h1>Badges<ion-icon name="medal"></ion-icon></h1>
  <ion-card *ngFor="let badge of badges">
    <ion-card-header *ngIf="badge.type === 0">
      Beginner
      <ion-icon style="color: green" name="checkmark" *ngIf="badge.currentThreshold >= badge.awardThreshold"></ion-icon>
      <ion-icon style="color: red" name="close" *ngIf="badge.currentThreshold < badge.awardThreshold"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="badge.type === 0">Post a blog to receive this badge!</ion-card-content>

    <ion-card-header *ngIf="badge.type === 1">
      Expert
      <ion-icon style="color: green" name="checkmark" *ngIf="badge.currentThreshold >= badge.awardThreshold"></ion-icon>
      <ion-icon style="color: red" name="close" *ngIf="badge.currentThreshold < badge.awardThreshold"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="badge.type === 1">Post 5 blogs to receive this badge!</ion-card-content>
    <small>Remaining: {{ badge.awardThreshold - badge.currentThreshold < 0 ? 0 : badge.awardThreshold - badge.currentThreshold }}</small>
  </ion-card>

</ion-content>
