<ion-header>
  <ion-navbar>
    <ion-title>{{ blog.title }} Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 text-center>{{ blog.title }}</h1>
  <br>
  <ion-textarea [value]="blog.content" readonly></ion-textarea>

  <h3>Comments</h3>
  <p *ngIf="posts.length === 0">No comments yet, feel free to add a comment</p>
  <ion-list>
    <ion-card *ngFor="let post of posts">
      <ion-card-header>
        <ion-icon name="person"></ion-icon>
        {{ post.creatorName }}
      </ion-card-header>
      <ion-card-content>
        {{ post.content }}
      </ion-card-content>
    </ion-card>
  </ion-list>

  <div padding *ngIf="isAuth">
    <button ion-button block type="button" (click)="addComment()">Add Comment</button>
  </div>
</ion-content>
