<ion-header>
  <ion-navbar>
    <ion-title>School SOA Blog</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-card *ngFor="let blog of blogs; let i = index" (click)="onBlogClick(blog)">
    <img width="256" height="256" [src]="'assets/imgs/blogBck/' + ((i % 6) + 1) +'.jpg'"/>
    <div class="card-title">{{ blog.title }}</div>
    <div class="card-subtitle">Read more....</div>
    <div class="card-author">By: {{ blog.creatorName }}</div>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadBlogs($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more blogs...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab bottom right *ngIf="isAuth" (click)="addBlog()">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
