<ion-header>
  <ion-navbar>
    <ion-title>
      Authentication
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="isLogin">
    <h3>Login</h3>
    <ion-list>
      <ion-item>
        <ion-label fixed>Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block>Login</button>
    </div>
    <p>If you do not have an account register <a (click)="isLogin = false;">here</a>!</p>
  </div>

  <ion-list *ngIf="!isLogin">
    <h3>Register</h3>
    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <button ion-button>Login</button>
  </ion-list>

</ion-content>